@{
    ViewBag.Title = "Home Page";
}
<div class="page-content-inner">
    <div class="center">
        <img src="~/assets/pages/img/background/61.jpg" style="width: 100%; min-height: 500px; max-height:500px!important;">
    </div>
</div>