<script src="//cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>
<textarea name="editor1" id="editor1" rows="10" cols="80" style="height: 700px;">
<p dir="ltr" style="text-align:center"><strong><span style="font-size:16pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>CỘNG HO&Agrave; X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:16pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>Độc lập -Tự do-Hạnh Ph&uacute;c</strong></span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:16pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>*****</strong></span></span></span></strong></p>

<p><br />

<br />

&nbsp;</p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:22pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>HỢP ĐỒNG MUA B&Aacute;N NH&Agrave; Ở,</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:22pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>CHUYỂN NHƯỢNG QUYỀN SỬ DỤNG ĐẤT</strong></span></span></span><span style="font-size:20pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>,</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:20pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>T&Agrave;I SẢN KH&Aacute;C GẮN LIỀN VỚI &nbsp;ĐẤT</strong></span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>SỐ : ____________</strong></span></span></span><span style="font-size:20pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>.</strong></span></span></span></strong></p>

<p><br />

&nbsp;</p>

<p dir="ltr" style="margin-left:80px; text-align:justify"><strong><span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>NH&Agrave; SỐ </strong></span></span></span> <span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>:</strong></span></span></span> </strong></p>

<p dir="ltr" style="margin-left:80px; text-align:justify"><strong><span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>ĐƯỜNG</strong></span></span></span> <span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>:</strong></span></span></span> </strong></p>

<p dir="ltr" style="margin-left:80px; text-align:justify"><strong><span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>PHƯỜNG</strong></span></span></span> <span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>: </strong></span></span></span> </strong></p>

<p dir="ltr" style="margin-left:80px; text-align:justify"><strong><span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>QUẬN</strong></span></span></span> <span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>:</strong></span></span></span> </strong></p>

<p dir="ltr" style="margin-left:80px; text-align:justify"><strong><span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>TH&Agrave;NH PHỐ: </strong></span></span></span> <span style="font-size:18pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>HỒ CH&Iacute; MINH.</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:16pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>*****</strong></span></span></span></strong></p>

<p><br />

&nbsp;</p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:13.999999999999998pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">(thửa số , tờ bản đồ số )</span></span></span></strong></p>

<p><br />

<br />

<br />

<br />

<br />

&nbsp;</p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>CỘNG HO&Agrave; X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>Độc lập -Tự do-Hạnh Ph&uacute;c</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>*****</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:17pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>HỢP ĐỒNG MUA B&Aacute;N NH&Agrave; Ở, CHUYỂN NHƯỢNG QUYỀN SỬ DỤNG ĐẤT, T&Agrave;I SẢN KH&Aacute;C GẮN LIỀN VỚI &nbsp;ĐẤT</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:13.999999999999998pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>Toạ lạc tại số </strong></span></span></span><span style="font-size:12pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>xxx</strong></span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">H&ocirc;m nay, ng&agrave;y &nbsp;&nbsp;th&aacute;ng năm 2016, tại Văn ph&ograve;ng C&ocirc;ng chứng quận 10 TP.HCM, ch&uacute;ng t&ocirc;i k&yacute; t&ecirc;n dưới đ&acirc;y, những người tự nhận thấy c&oacute; đủ năng lực h&agrave;nh vi v&agrave; tự chịu tr&aacute;ch nhiệm trước ph&aacute;p luật về mọi h&agrave;nh vi của m&igrave;nh gồm:</span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>B&Ecirc;N B&Aacute;N, CHUYỂN NHƯỢNG (B&Ecirc;N A):</u></strong></span></span></span></strong></p>

<div dir="ltr" style="margin-left:-7px">
<table cellspacing="0" style="border-collapse:collapse; border:undefined">
<tbody>
<tr>
<td style="height:0pt; vertical-align:top">
<ul>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">&Ocirc;ng</span></span></span></strong></p>
				</li>
			</ul>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Sinh năm</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Chứng minh nh&acirc;n d&acirc;n</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify">&nbsp;</p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hộ khẩu thường tr&uacute;</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<ul>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">B&agrave;</span></span></span></strong></p>
				</li>
			</ul>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Sinh năm</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Chứng minh nh&acirc;n d&acirc;n</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify">&nbsp;</p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hộ khẩu thường tr&uacute;</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="margin-right:5px; text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">C&ugrave;ng Hộ khẩu thường tr&uacute;</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">C&oacute; giấy chứng nhận kết h&ocirc;n k&egrave;m theo.</span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>B&Ecirc;N MUA, NHẬN CHUYỂN NHƯỢNG (B&Ecirc;N B):</u></strong></span></span></span></strong></p>

<div dir="ltr" style="margin-left:-7px">
<table cellspacing="0" style="border-collapse:collapse; border:undefined">
<tbody>
<tr>
<td style="height:0pt; vertical-align:top">
<ul>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">&Ocirc;ng</span></span></span></strong></p>
				</li>
			</ul>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Sinh năm</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Chứng minh nh&acirc;n d&acirc;n</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify">&nbsp;</p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hộ khẩu thường tr&uacute;</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<ul>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">B&agrave;</span></span></span></strong></p>
				</li>
			</ul>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Sinh năm</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Chứng minh nh&acirc;n d&acirc;n</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify">&nbsp;</p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hộ khẩu thường tr&uacute;</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="margin-right:5px; text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">C&ugrave;ng Hộ khẩu thường tr&uacute;</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Bằng hợp đồng n&agrave;y, b&ecirc;n A b&aacute;n cho b&ecirc;n B </span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>to&agrave;n bộ</strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> căn nh&agrave;, chuyển nhượng to&agrave;n bộ quyền sử dụng đất, t&agrave;i sản kh&aacute;c gắn liền với đất được m&ocirc; tả trong Điều 1 của hợp đồng n&agrave;y với những thoả thuận như sau:</span></span></span></strong></p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 1</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">: </span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>ĐỐI TƯỢNG CỦA HỢP ĐỒNG.</strong></span></span></span></strong></p>

<ol>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Đối tượng của hợp đồng n&agrave;y l&agrave; </span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>to&agrave;n bộ</strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> nh&agrave; đất, t&agrave;i sản kh&aacute;c gắn liền với đất toạ lạc tại số: </span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>xxx, </strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">c&oacute; thực trạng như sau:</span></span></span></strong></p>
	</li>
</ol>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>a. Thửa đất:</u></strong></span></span></span></strong></p>

<div dir="ltr" style="margin-left:-7px">
<table cellspacing="0" style="border-collapse:collapse; border:undefined">
<tbody>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Thửa đất số</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">, tờ bản đồ số</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Địa chỉ</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="4" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>xxx</strong></span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Diện t&iacute;ch</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="4" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">m</span></span></span><span style="font-size:7.799999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">H&igrave;nh thức sử dụng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">ri&ecirc;ng &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">m</span></span></span><span style="font-size:7.799999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2 </span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">,chung</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">m</span></span></span><span style="font-size:7.799999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Mục đ&iacute;ch sử dụng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="4" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Đất ở tại đ&ocirc; thị</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Thời hạn sử dụng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="4" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">L&acirc;u d&agrave;i</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Nguồn gốc sử dụng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="4" style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>b. Nh&agrave; ở:</u></strong></span></span></span></strong></p>

<div dir="ltr" style="margin-left:-7px">
<table cellspacing="0" style="border-collapse:collapse; border:undefined">
<tbody>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Địa chỉ</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="4" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>xxx</strong></span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Diện t&iacute;ch x&acirc;y dựng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">m</span></span></span><span style="font-size:7.799999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="margin-left:5px"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Diện t&iacute;ch s&agrave;n</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">m</span></span></span><span style="font-size:7.799999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Kết cấu</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="4" style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Cấp (Hạng)</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="margin-left:5px"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Số tầng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Năm ho&agrave;n th&agrave;nh x&acirc;y dựng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="margin-left:5px"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Thời hạn sở hữu</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#ff0000"><strong>(Sổ hồng 2015)</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>a. Thửa đất:</u></strong></span></span></span></strong></p>

<div dir="ltr" style="margin-left:-7px">
<table cellspacing="0" style="border-collapse:collapse; border:undefined">
<tbody>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Thửa đất số</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="2" style="height:0pt; vertical-align:top">&nbsp;</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">, tờ bản đồ số</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Địa chỉ</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Diện t&iacute;ch</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">m</span></span></span><span style="font-size:7.799999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2</span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> ( &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;m&eacute;t vu&ocirc;ng)</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">H&igrave;nh thức sử dụng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Sử dụng ri&ecirc;ng</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Mục đ&iacute;ch sử dụng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Đất ở tại đ&ocirc; thị</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Thời hạn sử dụng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">L&acirc;u d&agrave;i</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Nguồn gốc sử dụng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Nhận chuyển nhượng đất được Nh&agrave; nước giao c&oacute; thu tiền sử dụng đất</span></span></span></strong></p>
			</td>
		</tr>
	</tbody>
</table>
</div>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>b. Nh&agrave; ở:</u></strong></span></span></span></strong></p>

<div dir="ltr" style="margin-left:-7px">
<table cellspacing="0" style="border-collapse:collapse; border:undefined">
<tbody>
<tr>
<td colspan="3" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Loại nh&agrave; ở</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>Nh&agrave; ở ri&ecirc;ng lẻ</strong></span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td colspan="3" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Diện t&iacute;ch x&acirc;y dựng</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="2" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">m</span></span></span><span style="font-size:7.799999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="margin-left:5px"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Diện t&iacute;ch s&agrave;n</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">m</span></span></span><span style="font-size:7.799999999999999pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td colspan="3" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">H&igrave;nh thức sở hữu</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Sở hữu ri&ecirc;ng</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td colspan="3" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-</span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Cấp (Hạng)</span></span></span></strong></p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">- &nbsp;&nbsp;&nbsp;Thời hạn sở hữu</span></span></span></strong></p>
			</td>
<td style="height:0pt; vertical-align:top">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">:</span></span></span></strong></p>
			</td>
<td colspan="5" style="height:0pt; vertical-align:top">
<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">-/-</span></span></span></strong></p>
			</td>
		</tr>
<tr>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
<td style="height:0pt; vertical-align:top">&nbsp;</td>
<td colspan="7" style="height:0pt; vertical-align:top">&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>c. C&ocirc;ng tr&igrave;nh x&acirc;y dựng kh&aacute;c:</u></strong></span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Chưa chứng nhận quyền sở hữu</span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>.</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>d. Rừng sản xuất l&agrave; rừng trồng:</u></strong></span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Chưa chứng nhận quyền sở hữu.</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>e. C&acirc;y l&acirc;u năm:</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> Chưa chứng nhận quyền sở hữu.</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>f. Ghi ch&uacute;:</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> xem giấy chứng nhận</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">2. Nh&agrave; đất, t&agrave;i sản kh&aacute;c gắn liền với đất tr&ecirc;n thuộc sở hữu hợp ph&aacute;p của b&ecirc;n A theo c&aacute;c chứng từ sở hữu sau đ&acirc;y:</span></span></span></strong></p>

<ul>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Giấy chứng nhận quyền sử dụng đất, quyền sở hữu nh&agrave; ở v&agrave; t&agrave;i sản kh&aacute;c gắn liền với đất số: &nbsp;</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Th&ocirc;ng b&aacute;o nộp lệ ph&iacute; trước bạ nh&agrave; đất ng&agrave;y</span></span></span></strong></p>
	</li>
</ul>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">3. </span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><em>B&ecirc;n A v&agrave; b&ecirc;n B cam kết nh&agrave; v&agrave; đất c&oacute; thực, c&ograve;n nguy&ecirc;n vẹn cấu tr&uacute;c v&agrave; diện t&iacute;ch như mi&ecirc;u tả ở tr&ecirc;n v&agrave; kh&ocirc;ng y&ecirc;u cầu c&ocirc;ng chứng vi&ecirc;n x&aacute;c minh.</em></strong></span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 2</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>: GI&Aacute; V&Agrave; PHƯƠNG THỨC THANH TO&Aacute;N TIỀN.</strong></span></span></span></strong></p>

<ol>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Gi&aacute; mua b&aacute;n nh&agrave;, chuyển nhượng quyền sử dụng đất, t&agrave;i sản kh&aacute;c gắn liền với đất n&ecirc;u tr&ecirc;n &nbsp;l&agrave;</span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>: .000.000 &nbsp;đ (bằng chữ: &nbsp;triệu đồng chẵn)</strong></span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Phương thức thanh to&aacute;n tiền: </span></span></span></strong></p>
	</li>
</ol>

<ul>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">B&ecirc;n A đ&atilde; nhận của b&ecirc;n B số tiền đặt cọc l&agrave;: </span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>&hellip;&hellip;&hellip;..00.000.000đ</strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"> (</span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>&hellip;&hellip;&hellip;&hellip;&hellip; triệu đồng chẵn</strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">)</span></span></span></strong></p>
	</li>
</ul>

<ul>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Sau khi k&yacute; c&ocirc;ng chứng B&ecirc;n B trả cho b&ecirc;n A số tiền l&agrave;</span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>: .000.000 đồng (bằng chữ: triệu đồng chẵn)</strong></span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Sau khi &hellip;&hellip;&hellip;&hellip;&hellip;, b&ecirc;n B trả cho b&ecirc;n A.</span></span></span></strong></p>
	</li>
</ul>

<ol start="3">
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Việc thanh to&aacute;n số tiền n&ecirc;u tr&ecirc;n do hai b&ecirc;n tự thực hiện v&agrave; chịu tr&aacute;ch nhiệm trước ph&aacute;p luật.</span></span></span></strong></p>
	</li>
</ol>

<p>&nbsp;</p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 3</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>: THỜI HẠN V&Agrave; PHƯƠNG THỨC GIAO NH&Agrave;.</strong></span></span></span></strong></p>

<ol>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">B&ecirc;n A giao v&agrave; b&ecirc;n B nhận nh&agrave; đất, t&agrave;i sản kh&aacute;c gắn liền với đất đ&uacute;ng như m&ocirc; tả tại Điều 1 cho b&ecirc;n B sau khi ho&agrave;n tất thủ tục c&ocirc;ng chứng.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Trong thời hạn chưa giao nh&agrave; đất, t&agrave;i sản kh&aacute;c gắn liền với đất, b&ecirc;n A phải giữ g&igrave;n, bảo quản.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">B&ecirc;n A giao cho b&ecirc;n B bản ch&iacute;nh chứng từ sở hữu nh&agrave; đất, t&agrave;i sản kh&aacute;c gắn liền với đất n&ecirc;u tr&ecirc;n sau khi ho&agrave;n tất thủ tục mua b&aacute;n, chuyển nhượng.</span></span></span></strong></p>
	</li>
</ol>

<p>&nbsp;</p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 4</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>: ĐĂNG K&Yacute; QUYỀN SỞ HỮU, QUYỀN SỬ DỤNG ĐẤT, T&Agrave;I SẢN GẮN LIỀN VỚI ĐẤT.</strong></span></span></span></strong></p>

<ol>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">B&ecirc;n B c&oacute; nghĩa vụ thực hiện thủ tục đăng k&yacute; quyền sở hữu nh&agrave; ở, quyền sử dụng đất ở, t&agrave;i sản kh&aacute;c gắn liền với đất tại cơ quan c&oacute; thẩm quyền. B&ecirc;n A c&oacute; nghĩa vụ c&ugrave;ng b&ecirc;n B ho&agrave;n th&agrave;nh c&aacute;c thủ tục đăng k&yacute; đ&oacute;.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Quyền sở hữu nh&agrave; ở v&agrave; quyền sử dụng đất được chuyển cho b&ecirc;n B tại thời điểm theo quy định của ph&aacute;p luật</span></span></span></strong></p>
	</li>
</ol>

<p dir="ltr" style="text-align:justify">&nbsp;</p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 5:</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong> VIỆC NỘP THUẾ V&Agrave; LỆ PH&Iacute; C&Ocirc;NG CHỨNG.</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Thuế v&agrave; lệ ph&iacute; li&ecirc;n quan đến việc mua b&aacute;n nh&agrave; theo hợp đồng n&agrave;y do hai b&ecirc;n chịu tr&aacute;ch nhiệm nộp theo quy định ph&aacute;p luật.</span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 6:</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong> PHƯƠNG THỨC GIẢI QUYẾT TRANH CHẤP HỢP ĐỒNG.</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Trong qu&aacute; tr&igrave;nh thực hiện hợp đồng, nếu c&oacute; ph&aacute;t sinh tranh chấp, c&aacute;c b&ecirc;n c&ugrave;ng nhau thương lượng giải quyết tr&ecirc;n nguy&ecirc;n tắc t&ocirc;n trọng quyền lợi của nhau; Trong trường hợp kh&ocirc;ng tự giải quyết được, th&igrave; một trong hai b&ecirc;n c&oacute; quyền khởi kiện để y&ecirc;u cầu to&agrave; &aacute;n giải quyết theo quy định của ph&aacute;p luật.</span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 7:</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong> C&Aacute;C THỎA THUẬN KH&Aacute;C.</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Việc sửa đổi, hủy bỏ, bổ sung hợp đồng n&agrave;y phải được thực hiện theo đ&uacute;ng quy định ph&aacute;p luật.</span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 8:</u></strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong> CAM ĐOAN CỦA C&Aacute;C B&Ecirc;N:</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">B&ecirc;n A v&agrave; b&ecirc;n B chịu tr&aacute;ch nhiệm trước ph&aacute;p luật về những cam đoan sau đ&acirc;y:</span></span></span></strong></p>

<ol>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>B&ecirc;n A cam đoan:</u></strong></span></span></span></strong></p>
	</li>
</ol>

<ol>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Những th&ocirc;ng tin về nh&acirc;n th&acirc;n, về căn nh&agrave; ghi trong hợp đồng n&agrave;y l&agrave; đ&uacute;ng sự thật.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><em>Nh&agrave; mua b&aacute;n kh&ocirc;ng c&oacute; tranh chấp, giải toả, kh&ocirc;ng bị c&aacute;c cơ quan nh&agrave; nước c&oacute; thẩm quyền k&ecirc; bi&ecirc;n, xử l&yacute; theo quy định ph&aacute;p luật.</em></strong></span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Việc giao kết hợp đồng n&agrave;y l&agrave; ho&agrave;n to&agrave;n tự nguyện, kh&ocirc;ng bị lừa dối hoặc &eacute;p buộc.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Thực hiện đ&uacute;ng v&agrave; đầy đủ c&aacute;c thỏa thuận ghi trong hợp đồng n&agrave;y.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Nh&agrave; đất, t&agrave;i sản kh&aacute;c gắn liền với đất đ&atilde; ghi trong hợp đồng n&agrave;y chưa hứa cho, hứa b&aacute;n, nhận tiền cọc, chưa thế chấp, cho thu&ecirc;, cho mượn.</span></span></span></strong></p>
	</li>
</ol>

<ol start="2">
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>B&ecirc;n B cam đoan:</u></strong></span></span></span></strong></p>
	</li>
</ol>

<ol>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Những th&ocirc;ng tin nh&acirc;n th&acirc;n đ&atilde; ghi trong hợp đồng n&agrave;y l&agrave; đ&uacute;ng sự thật.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Đ&atilde; xem x&eacute;t, biết r&otilde; về hiện trạng cũng như về t&igrave;nh trạng ph&aacute;p l&yacute;, giấy tờ chứng minh quyền sở hữu của căn nh&agrave; mua b&aacute;n n&ecirc;u tr&ecirc;n.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Việc giao kết hợp đồng n&agrave;y ho&agrave;n to&agrave;n tự nguyện, kh&ocirc;ng bị lừa dối, &eacute;p buộc.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:lower-alpha">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Thực hiện đ&uacute;ng v&agrave; đầy đủ c&aacute;c điều khoản ghi trong hợp đồng n&agrave;y.</span></span></span></strong></p>
	</li>
</ol>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>ĐIỀU 9: ĐIỀU KHOẢN CUỐI C&Ugrave;NG.</u></strong></span></span></span></strong></p>

<ol>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hai b&ecirc;n c&ocirc;ng nhận đ&atilde; hiểu r&otilde; quyền, nghĩa vụ v&agrave; lợi &iacute;ch hợp ph&aacute;p của m&igrave;nh, &yacute; nghĩa v&agrave; hệ quả ph&aacute;p l&yacute; của việc giao kết hợp đồng.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hai b&ecirc;n đ&atilde; hiểu r&otilde; v&agrave; đồng &yacute; tất cả c&aacute;c điều khoản ghi trong hợp đồng n&agrave;y.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hợp đồng được lập th&agrave;nh 3 bản, c&aacute;c bản đều c&oacute; gi&aacute; trị ph&aacute;p l&yacute; như nhau. B&ecirc;n A giữ một bản, b&ecirc;n B giữ một bản v&agrave; Văn ph&ograve;ng C&ocirc;ng chứng quận 10 lưu giữ một bản</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:decimal">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hợp đồng c&oacute; hiệu lực từ ng&agrave;y được Văn &nbsp;ph&ograve;ng c&ocirc;ng chứng chứng nhận.</span></span></span></strong></p>
	</li>
</ol>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>B&Ecirc;N A</strong></span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>B&Ecirc;N B</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n) </span></span></span> <span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</span></span></span></strong></p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>LỜI CHỨNG CỦA C&Ocirc;NG CHỨNG VI&Ecirc;N</strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Ng&agrave;y &nbsp;&nbsp;&nbsp;&nbsp;/2016 (Ng&agrave;y &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;th&aacute;ng năm hai ngh&igrave;n kh&ocirc;ng trăm mười s&aacute;u).</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Tại trụ sở Văn ph&ograve;ng C&ocirc;ng chứng quận 10 TP.HCM, số 519 L&ecirc; Hồng Phong, phường 2, quận 10, TPHCM.</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">T&ocirc;i, </span></span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">, C&ocirc;ng chứng vi&ecirc;n Văn ph&ograve;ng C&ocirc;ng chứng quận 10 TP.HCM.</span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:center"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong><u>CHỨNG NHẬN</u></strong></span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hợp đồng mua b&aacute;n nh&agrave;, chuyển nhượng quyền sử dụng đất, t&agrave;i sản kh&aacute;c gắn liền với đất toạ lạc tại số: </span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>xxx</strong></span></span></span><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">, được giao kết giữa:</span></span></span></strong></p>

<p><br />

<br />

<br />

&nbsp;</p>

<ul>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">C&aacute;c b&ecirc;n đ&atilde; tự nguyện thoả thuận giao kết hợp đồng (giao dịch) n&agrave;y;</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Tại thời điểm c&ocirc;ng chứng, c&aacute;c b&ecirc;n tham gia hợp đ&ocirc;̀ng c&oacute; năng lực h&agrave;nh vi d&acirc;n sự ph&ugrave; hợp theo quy định ph&aacute;p luật.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Mục đích, nội dung thoả thuận của c&aacute;c b&ecirc;n trong hợp đồng (giao dịch) kh&ocirc;ng vi phạm ph&aacute;p luật, kh&ocirc;ng tr&aacute;i đạo đức x&atilde; hội.</span></span></span></strong></p>
	</li>
<li dir="ltr" style="list-style-type:disc">
<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">C&aacute;c b&ecirc;n giao kết đ&atilde; đọc lại to&agrave;n bộ dự thảo hợp đồng (giao dịch) n&agrave;y, đồng &yacute; to&agrave;n bộ nội dung dự thảo hợp đồng (giao dịch), đ&atilde; k&yacute; (điểm chỉ) v&agrave;o hợp đồng (giao dịch) n&agrave;y trước mặt t&ocirc;i.</span></span></span></strong></p>
	</li>
</ul>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Hợp đồng n&agrave;y gồm 03 bản ch&iacute;nh, c&oacute; gi&aacute; trị ph&aacute;p l&yacute; như nhau (mỗi bản gồm 05 tờ, 05 trang), cấp cho:</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">.B&ecirc;n A 01 (một) bản ch&iacute;nh</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">.B&ecirc;n B 01 (một) bản ch&iacute;nh.</span></span></span></strong></p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">.Lưu tại Văn ph&ograve;ng c&ocirc;ng chứng quận 10 01 (một) bản ch&iacute;nh.</span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000"><strong>C&Ocirc;NG CHỨNG VI&Ecirc;N</strong></span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Số c&ocirc;ng chứng</span></span></span></strong></p>

<p>&nbsp;</p>

<p dir="ltr" style="text-align:justify"><strong><span style="font-size:13pt"><span style="font-family:'Times New Roman'"><span style="color:#000000">Quyển số: &nbsp;&nbsp;&nbsp;TP/CC-SCC/HĐ</span></span></span></strong></p>

<p>&nbsp;</p>

</textarea>
<script>
    CKEDITOR.replace('editor1', {
        height: 500
    });
    CKEDITOR.editorConfig = function (config) {
        config.language = 'es';
        config.uiColor = '#F7B42C';
        config.toolbarCanCollapse = true;
    };
    CKEDITOR.editorConfig.tabSpaces = 10;
</script>